svg.graph {
  font: 10px sans-serif;
}

nav ul {
    list-style: none;
    padding:0;
    display: flex;
    flex-wrap: wrap;
}
 nav ul li {
    background: #ddd;
    padding:3px 6px;
    margin: 0 5px;
    border-radius: 10px;
}
 nav ul li a {
    text-decoration: none;
    cursor: pointer;
}
.ghost{
    opacity: 0.2;
}